In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)

In [4]:
df=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])

In [5]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [6]:
df['w']

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [7]:
df[['w','z']]

          w         z
a  2.706850  0.503826
b  0.651118  0.605965
c -2.018168 -0.589001
d  0.188695  0.955057
e  0.190794  0.683509

In [8]:
##creating new column

In [9]:
df['new']=df['x']+df['y']*df['z']

In [10]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  1.085591
b  0.651118 -0.319318 -0.848077  0.605965 -0.833223
c -2.018168  0.740122  0.528813 -0.589001  0.428651
d  0.188695 -0.758872 -0.933237  0.955057 -1.650166
e  0.190794  1.978757  2.605967  0.683509  3.759959

In [11]:
# drpop a cloumn

In [12]:
df.drop('new',axis=1,inplace=True)

In [13]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [14]:
#selecting row

In [15]:
df.loc['a']

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [16]:
df.iloc[2]

w   -2.018168
x    0.740122
y    0.528813
z   -0.589001
Name: c, dtype: float64

In [17]:
df.loc[['a','b'],['w','y']]

          w         y
a  2.706850  0.907969
b  0.651118 -0.848077

In [18]:
df.shape

(5, 4)

In [19]:
booldf=df>0

In [20]:
booldf

       w      x      y      z
a   True   True   True   True
b   True  False  False   True
c  False   True   True  False
d   True  False  False   True
e   True   True   True   True